# write a program to convert specified days into years,weak,and days take user input (note:ignore leap year)

In [25]:
days=int(input('enter days to convert it into years-weaks-days='))
if days>=366:
    year=days//366
    days=days-366*year
    weak=days//7
    days=days%7
    print(year,'years',weak,'weaks',days,'days')
elif days>=7:
     weak=days//7
     days=days%7
     print(weak,'weaks',days,'days')
else:
     print(days,'days')

enter days to convert it into years-weaks-days= 4

4 days

# write a python program to input basic python salary of an employee and calculate its Gross salary according to following:
# Basic Salaary<=10000:HRD=20% DA=80%
# Basic Salaary<=20000:HRD=30% DA=90%
# Basic Salaary>20000:HRD=35% DA=95%

In [28]:
basic_salary=int(input('enter your salary to calculate gross salary='))
if basic_salary<=10000:
    hrd=0.2*basic_salary
    da=0.8*basic_salary
elif basic_salary<=20000:
    hrd=0.3*basic_salary
    da=0.9*basic_salary
else:
    hrd=0.35*basic_salary
    da=0.95*basic_salary
gross_salary=basic_salary+hrd+da
print('Gross Salary=',gross_salary)

enter your salary to calculate gross salary= 67000

Gross Salary= 154100.0

# write a python program to input electrical unit charges and calculate total electrical bill according to given condition:
### for first 50 units   Rs.0.50/unit
### for next 100 units   Rs.0.75/unit
### for next 100 units   Rs.1.25/unit
### for unit above 250   Rs.1.50/unit
### an additional surcharge of 17% is added to the bill

In [33]:
print('**************Electricla Bill Calculator*********************')
units=int(input('enter no.of units consumed='))
if units<=50:
    bill=0.50*units
elif units<=150:
   bill=(0.50*50)+(0.75*(units-50))
elif units<=250:
    bill=(0.50*50)+(0.75*100)+(1.25*(units-150))
else:
    bill=(0.50*50)+(0.75*100)+(1.25*100)+(1.50*(units-250))
print('Bill=',bill)
print('Additional Surcharge is 17%')
surcharge=0.17*bill
bill=bill+surcharge
print('Total bill=',bill)

**************Electricla Bill Calculator*********************

enter no.of units consumed= 250

Bill= 225.0
Additional Surcharge is 17%
Total bill= 263.25

# write a python program to print given nunber patterns
### 1
### 2 2
### 3 3 3
### 4 4 4 4 
### 5 5 5 5 5

In [36]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# write python program to calculate product of digit of a number. read value of n from user

In [49]:
n=int(input('enter no.='))
product=1
while n!=0:
    rem=n%10
    product=product*rem
    n=n//10
print('product of its digit=',product)

enter no.= 308

product of its digit= 0

# Create a list of elements like 
## X=[45,67,12,'hello',23.45,'world']
### and perform following operations:

##### (1)Extract only String vlues from this list:

In [3]:
x=[45,67,12,'hello',23.45,'world']
[n for n in x if type(n)==str]

['hello', 'world']

##### (2)create a new list with String in upper case

In [4]:
l1=[n.upper() for n in x if type(n)==str]
print(l1)

['HELLO', 'WORLD']

##### (3)Find the addition of integer values

In [5]:
add=0
for n in x:
    if type(n)==int:
        add=add+n
print(add)

124

##### (4)Cheak that the value 56 is present in it or not

In [6]:
56 in x

False

##### (5)Print the list in reverse order

In [7]:
x.reverse()
print(x)

['world', 23.45, 'hello', 12, 67, 45]

##### (6)delete the String 'hello' from it

In [8]:
x.remove('hello')
x

['world', 23.45, 12, 67, 45]

##### (7)insert a new value of 36 at 5th position in list.

In [9]:
x.insert(5,36)
x

['world', 23.45, 12, 67, 45, 36]

##### (8)Count total number of elements in list now

In [10]:
len(x)

6

##### (9)Extract the values from 2nd index to 5th position in list

In [11]:
x[2:6]

[12, 67, 45, 36]

##### (10)Append[34,'pune'] to the list

In [12]:
x.append([34,'pune'])

In [13]:
x

['world', 23.45, 12, 67, 45, 36, [34, 'pune']]

##### (11)Delete the last element from list

In [14]:
x.pop()

[34, 'pune']

# Create a tuple of elements with 5 float values in it and perform following operations
##### suppose the tuple
# t=(23.79,10.34,56.90,40.87,32.70)
##### (1)print the data in sorted manner.

t=(23.79,10.34,56.90,40.87,32.70)

In [25]:
sorted(t)

[10.34, 23.79, 32.7, 40.87, 56.9]

##### (2)Cheak to see that the element 50 is present in it.

In [26]:
50 in t

False

##### (3)Convert the tuple in set

In [27]:
set(t)

{10.34, 23.79, 32.7, 40.87, 56.9}

# 8.Create a dictionary of elements:
# {'a':'apple','b':'ball','c':'cat','d':'doll','k':'king}
# and perform following operation

##### (1)Access the data at key 'k'

In [31]:
d={'a':'apple','b':'ball','c':'cat','d':'dall','k':'king'}

In [35]:
d['k']

'king'

##### (2)Add a new values 'z':'zebra'

In [36]:
d['z']='zebra'

In [37]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dall', 'k': 'king', 'z': 'zebra'}

##### (3)Replace the content of 'd' as 'dog'

In [38]:
d['d']='dog'

In [39]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

##### (4)Print all the values from this dictionary

In [40]:
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

##### (5)Find the length of this dictionary

In [42]:
len(d)

6

# 9.Write a program to find second largest element in the list

In [2]:
l1=[10,20,90,56,80]

In [10]:
sorted(l1)
l1[-2]

56

# 10.This is a list of some metallic  elements.
## metals=['silver','gold'....]
### Make a new list that is almost identical to the metals list:
### the new list contain the same items in the same order except that it does NOT contain the item 'copper'.

In [1]:
list=['silver','gold','copper','mercury','iron','lead']
new_list=[n for n in list if n!='copper']

In [2]:
new_list

['silver', 'gold', 'mercury', 'iron', 'lead']